<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.applet.mapper.ApplicationMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.applet.entity.MaterialApplication">
        <id column="application_id" property="applicationId"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="applicant_reason" property="applicantReason"/>
        <result column="material_name" property="materialName"/>
        <result column="material_num" property="materialNum"/>
        <result column="is_cancel" property="isCancel"/>
        <result column="is_urgency" property="isUrgency"/>
        <result column="location" property="location"/>
        <result column="approver_id" property="approverId"/>
        <result column="result" property="result"/>
        <result column="create_time" property="createTime"/>
        <result column="approval_time" property="approvalTime"/>
        <result column="refuse_reason" property="refuseReason"/>
    </resultMap>

    <insert id="addMaterialApplication" parameterType="icu.shishc.applet.entity.MaterialApplication" useGeneratedKeys="true" keyColumn="application_id" keyProperty="applicationId">
        insert into material_application(applicant_id,
                                         applicant_name,
                                         applicant_reason,
                                         material_name,
                                         material_num,
                                         is_urgency,
                                         location,
                                         create_time,
                                         approver_id)
                 values (#{applicantId}, #{applicantName}, #{applicantReason}, #{materialName}, #{materialNum},
                         #{isUrgency}, #{location}, #{createTime}, #{approverId})
    </insert>

    <select id="getMaterialApplicationById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from material_application where application_id = #{materialApplicationId}
    </select>

    <update id="cancelMaterialApplicationById" parameterType="java.lang.Long">
        update material_application set is_cancel = 1 where application_id = #{materialApplicationId}
    </update>

    <select id="getUserMaterialApplication" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from material_application where applicant_id = #{userId}
    </select>

</mapper>