<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="icu.shishc.applet.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="icu.shishc.applet.entity.User">
        <id column="user_id" property="userId"/>
        <result column="open_id" property="openId" />
        <result column="wx_name" property="wxName" />
        <result column="avatar" property="avatar" />
        <result column="real_name" property="realName" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="user_identity" property="userIdentity" />
    </resultMap>

    <select id="getUserByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_id, open_id from user where open_id = #{openId}
    </select>

    <select id="getUserByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select user_id, wx_name, real_name, address, phone, age, gender from user where user_id = #{userId}
    </select>

    <!-- useGeneratedKeys keyColumn keyProperty 这三个属性确保了新插入一条记录可以返回自动生成的主键id -->
    <insert id="insertUser" parameterType="icu.shishc.applet.entity.User" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        insert into user(open_id) values (#{openId})
    </insert>

    <update id="updateUserInfo" parameterType="icu.shishc.applet.entity.User">
        update user
        <set>
            <if test="wxName != null">
                wx_name = #{wxName},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender}
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="getUserByList" resultMap="BaseResultMap">
        select * from user where user_id =
                                 <foreach collection="userIds" item="userId">
                                     #{userId}
                                 </foreach>
    </select>

    <select id="getSystemUserIds">
        select user_id from user
    </select>
</mapper>

